---
import Layout from "../layouts/Layout.astro";
---

<!-- Layoutタグの横でtitle=○○とするとLayout.astroに値が引き渡される -->
<Layout title="小学算数徹底攻略">
  <h1>TITLE</h1>
  <p>ここは、算数を楽しく学ぶための場所です。</p>
  <p>まずは「たし算」から始めてみよう！</p>
</Layout>
