---
// new Date()で現在日時情報を取得。getFullYear()で年だけ取り出す。
const currentYear = new Date().getFullYear();
---

<footer class="footer">
  <!-- 著作権表示 -->
  <p>&copy; {currentYear} 小学算数徹底攻略</p>
</footer>

<style>
  .footer {
    margin-top: 2rem; /* フッターの外側にmargin 2remをつける */
    border-top: 1px solid #ccc; /* フッターの一番上に厚さ1pxの灰色の実線を引く */
    padding: 1rem; /* フッターの内側にpadding 1remをつける */
    text-align: center; /* 中身のコンテンツを中央ぞろえ */
  }
</style>
